@charset "utf-8";
/* CSS Document */

/*General Layout*/
*{
	padding: 0;
	margin: 0;
	font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, 'sans-serif';
	color: #0059B3;
	background-color: #FFFFFF;
}

#wrapper{
	margin: auto;
}

img.logo{
	margin-left: 100px;
}

nav{
	max-height: 120px;
	background-color: #0059B3;
}

nav ul{
	display: table-row;
	text-align: center;
	color: white;
	float: right;
	margin-right: 100px;
	margin-top: 52px;
}

nav li{
	display: table-cell;
	color: white;
	font-size: 22px;
	font-weight: 100;
}

nav a{
	color: white;
	text-decoration: none;
	padding: 1em;
	background-color: #0059B3;
}

nav a:link{
	text-decoration: none;
	color: white;
}

nav a:hover{
	text-decoration: underline;
	color: white;
}

nav a:active{
	color: white;
	text-decoration: none;
}

/* Break */
.break{
	margin-top: 20px;
}

/* Footer */
footer{
	min-height: 80px;
	margin: auto;
	background-color: #0059B3;
	padding: 27px 0px 0px 100px;
}

footer p{
	color: white;
	background-color: #0059B3;
	font-size: 22px;
	font-weight: 100;
	margin-left: 870px;
}

footer ul{
	display: table-row;
	text-align: center;
	color: white;
	float: left;
}

footer li{
	display: table-cell;
	color: white;
	font-size: 22px;
	font-weight: 100;
}

footer a{
	background-color: #0059B3;
	color: white;
	padding-right: 1em;
}

footer a:link{
	text-decoration: none;
	color: white;
}

footer a:hover{
	text-decoration: underline;
	color: white;
}

footer a:active{
	color: white;
	text-decoration: none;
}

/* Slideshow Layout */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width: 1100px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #717171;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0px 2px 0px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.0s;
  animation-name: fade;
  animation-duration: 1.0s;
}

@-webkit-keyframes fade {
  from {opacity: 0.5}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.5}
  to {opacity: 1}
}
