<!doctype html>
<html>
<head>
<meta charset="utf-8">

<title>About Us</title>

<link href="static/css/index.css" type="text/css" rel="stylesheet"/>
<link rel="shortcut icon" href="static/img/switchfavicon.png" type="image/x-icon">
<link rel="icon" href="img/switchfavicon.png" type="image/x-icon">

</head>

<body>

	<nav>
		<img class="logo" src="static/img/SJSUSwitch.png" alt="SJSU Switch" height="120px">

		<ul>
			<li><a href="donate.html" target="_blank">Donate</a></li>
			<li><a href="freelance.html" target="_blank">Freelance</a></li>
			<li><a href="selling.html" target="_blank">Sell</a></li>
			<li><a href="trading.html" target="_blank">Trade</a></li>
			<li><a href="wishlist.html" target="_blank">Profile</a></li>
		</ul>

	</nav>

  <main>
    <header>
      <h1 id="header">About Us</h1>
    </header>

    <div id="aboutus">
      <h1 class="h1">Make the switch</h1>
      <p class="aboutusdesc">Lorem ipsum dolor sit amet, ne cum graeco quaerendum. Mel reque graeci meliore an.
        Nostro timeam conceptam mel ad. Omnis nostro has ei, eos an paulo equidem appetere,
        sed no duis oportere intellegat. Enim nostro qui et. Ea mollis maluisset cum, id
        eius dolore delenit vim.
    `   <br><br>
        Et deleniti eloquentiam nam. Per nonumy putant disputando ea, sit an autem timeam.
        Mea veniam timeam torquatos no, mentitum eleifend cu has. An duo eirmod omnesque
        persecuti, at diam munere eirmod ius. Ad tritani mnesarchum consequuntur sea.
        Ius eu hinc admodum repudiare, id tollit senserit eam.
				<br><br>
				Delectus voluptatibus in mea, tollit possit nam ne, qui sanctus perfecto signiferumque ne.
				Cibo nulla euripidis mei in. Aeque oportere adolescens eum cu, cu sea alii necessitatibus.
				At has odio utroque iracundia, vide malorum eam te. Meis appareat mei ne, ne duo liber
				saepe tibique. Quo an phaedrum deseruisse, iusto cetero et cum, cu vis hinc verterem neglegentur.
				<br><br>
				Pro ei accumsan imperdiet, deleniti quaestio eos an. Eos ad velit eruditi moderatius, nam
				vidisse nusquam convenire ei. Ne omnes officiis pertinacia nec. Senserit intellegam in ius.
				Mel ut prima dicunt inimicus, vis no summo viderer percipitur.
				<br><br>
				Cu adhuc voluptaria sit. Eius efficiantur nam te, eleifend neglegentur ne duo. Te fuisset
				tacimates vix, ei choro patrioque nec. Ea quaestio inimicus vis. Ei mea conceptam constituto,
				pri an equidem expetenda, te dico adolescens pri. Movet clita doctus sed at, primis lobortis
				suscipiantur id has.</p>
    </div>

		<div id="theteam">
			<h1 class="h1">Team JSTR</h1>
		<h2 class="heading">Jennifer Yang</h2>
			<p class="theteam">Insert Nickname Here</p>
			<br>
		<h2 class="heading">Shayanna Gatchalian</h2>
			<p class="theteam">Degenerate</p>
			<br>
		<h2 class="heading">Taha Quraishi</h2>
			<p class="theteam">Insert Nickname Here</p>
			<br>
		<h2 class="heading">Rachel Tsai</h2>
			<p class="theteam">Insert Nickname Here</p>
			<br>
			<p class="theteam">CMPE 133 Fall 2019</p>
		</div>
  </main>

	<footer>
		<ul>
			<li><a href="about_us.html" target="_blank">About Us</a></li>
			<li><a href="contact_us.html" target="_blank">Contact Us</a></li>
		</ul>
		<p>JSTR Incorporated Corporation LLC</p>
	</footer>

<script src="index.js" type="text/javascript"></script>
</body>
</html>
