<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>Create a Post</title>
  <link href="../static/css/index.css" type="text/css" rel="stylesheet" />
  <link rel="shortcut icon" href="../static/img/switchfavicon.png" type="image/x-icon">
  <link rel="icon" href="../static/img/switchfavicon.png" type="image/x-icon">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
</head>

<body>

  <nav>
    <img class="logo" src="../static/img/SJSUSwitch.png" alt="SJSU Switch" height="120px">

    <ul>
      <li><a href="donate.html" target="_blank">Donate</a></li>
      <li><a href="freelance.html" target="_blank">Freelance</a></li>
      <li><a href="selling.html" target="_blank">Sell</a></li>
      <li><a href="trading.html" target="_blank">Trade</a></li>
      <li><a href="wishlist.html" target="_blank">Profile</a></li>
    </ul>
  </nav>

  <div id="wrapper">
    <header>
      <h1 id="header">Create Post</h1>
    </header>

    <div id="createpost">
      <form id="post" name="post">
        <ul>
          <li class="question"><label for="category">Category</label></li>
          <li class="input">
            <select name="category" id="category" onChange="onSelection()" style="width:35%" required>
              <option disabled selected value> -- select a category -- </option>
              <option value="selling">Selling</option>
              <option value="trading">Trading</option>
              <option value="donating">Donating</option>
              <option value="freelance">Freelance</option>
            </select>
          </li>

          <li class="question"><label for="subcategory">Are you looking for this item?</label>
          <li class="input">
            <select name="subcategory" id="subcategory" style="width:35%" required>
              <option disabled selected value> -- select a subcategory -- </option>
              <option value="seeking">Yes</option>
              <option value="looking">No</option>
            </select>
          </li>

          <li class="question"><label for="title">Title</label>
          <li class="input"><input type="text" name="title" id="title" style="width:35%" required /></li>

          <li class="question"><label for="price">Price</label></li>
          <li class="input"><input type="text" name="price" id="price" style="width:35%" required /></li>

          <li class="question"><label for="description">Description</label></li>
          <li class="input"><textarea name="description" id="description" rows="6" cols="90" style="width:70%" required></textarea></li>

          <li class="question"><label for="communication">Form of Communication</label></li>
          <li class="input"><input name="communication" id="communication" style="width:35%" required></textarea></li>

          <!--<li class="question"><label for="pics">Upload an image</label></li>
          <li class="input"><input type="file"  id="pics" name="pics" accept="image/*" required="required" multiple></li>-->

          <li class="input"><input class="submit" type="submit" value="Submit"></li>

        </ul>
      </form>
    </div>

    <header>
      <h1 id="header">Selling</h1>
    </header>

    <div id="selling_posts">
    </div>

  </div>

  <footer>
    <ul>
      <li><a href="about_us.html" target="_blank">About Us</a></li>
      <li><a href="contact_us.html" target="_blank">Contact Us</a></li>
    </ul>
    <p>JSTR Incorporated Corporation LLC</p>
  </footer>

  <script src="https://www.gstatic.com/firebasejs/7.5.1/firebase.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.5.1/firebase-analytics.js"></script>
  <script src="../static/js/main.js"></script>
</body>

</html>
