<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Create a Post</title>
<link href=/static/css/index.css rel="stylesheet"/>
<link rel="shortcut icon" href=/static/css/img/switchfavicon.png type="image/x-icon">
<link rel="icon" href=/static/css/img/switchfavicon.png type="image/x-icon">
</head>


<body>

  <nav>
<a href="/"> <img class="logo" src=/static/img/SJSUSwitch.png alt="SJSU Switch" height="120px"></a>

		<ul>
			<li><a href="/donate" >Donate</a></li>
			<li><a href="/freelance" >Freelance</a></li>
			<li><a href="/selling" >Sell</a></li>
			<li><a href="/trade" >Trade</a></li>
			<li><a href="/wishlist">Profile</a></li>
		</ul>

	</nav>

<main>
	<header>
		<h1 id="header">Create Post</h1>
	</header>

	<div id="createpost">
		<form name="post">
			<ul>
				<li class="question"><label for="category">Category</label></li>
				<li class="input">
					<select name="cat" id="category" onChange="onSelection()" style="width:35%" required>
						<option disabled selected value> -- select a category -- </option>
					  <option value="Selling">Selling</option>
					  <option value="Trading">Trading</option>
						<option value="Donating">Donating</option>
						<option value="Freelance">Freelance</option>
					</select>
				</li>

				<li class="question"><label for="subcategory">Seeking or Looking</label>
				<li class="input">
					<select name="subcat"  style="width:35%" required>
						<option disabled selected value> -- select a subcategory -- </option>
					  <option value="Seeking">Seeking</option>
					  <option value="Looking">Looking</option>
					</select>
				</li>

				<li class="question"><label for="title">Title</label>
				<li class="input"><input type="text" name="name"  style="width:35%" required/></li>

				<li class="question"><label for="price">Price</label></li>
				<li class="input"><input type="text" name="pricetag" style="width:35%" required/></li>

				<li class="question"><label for="description">Description</label></li>
				<li class="input"><textarea name="desc"  rows="6" cols="90" style="width:70%" required></textarea></li>

				<li class="question"><label for="communication">Form of Communication</label></li>
				<li class="input"><input name="commun" style="width:35%" required></textarea></li>

				<li class="input"><input class="submit" type="submit" value="Submit"></li>
    <li class="question"><label for="pics">Upload an image</label></li>
    <li class="input"><input type="file" name="pic" accept="image/*" required="required" multiple> </li>

      </ul>
		</form>
	</div>
</main>

<footer>
  <ul>
    <li><a href="/about_us"> About Us</a></li>
    <li><a href="/contact_us">Contact Us</a></li>
  </ul>
  <p>JSTR Incorporated Corporation LLC</p>
</footer>

</body>
</html>
