<!doctype html>
<html>
<head>
<meta charset="utf-8">

<title>SJSU Switch</title>
	
<link href="index.css" type="text/css" rel="stylesheet"/>
	
<!--FAVICON-->
<!--<link rel="shortcut icon" href="INSERT FAVICON HERE" type="image/x-icon">
<link rel="icon" href="INSERT FAVICON HERE" type="image/x-icon">-->
	
</head>

<body>
	<nav>
	<!--<img class="logo" src="INSERT SWITCH LOGO HERE" alt="SJSU Switch Logo" height="80px"-->
	
	<ul>
		<li><a href="donate.html" target="_blank">Donate</a></li>
		<li><a href="freelance.html" target="_blank">Freelance</a></li>
		<li><a href="selling.html" target="_blank">Sell</a></li>
		<li><a href="trading.html" target="_blank">Trade</a></li>
	</ul>
	
</nav>
</body>
</html>
