<!doctype html>
<html>
<head>
<meta charset="utf-8">

<title>SJSU Switch</title>

<link href="/static/css/index.css" type="text/css" rel="stylesheet"/>
<link rel="shortcut icon" href="/static/img/switchfavicon.png" type="image/x-icon">
<link rel="icon" href="/static/img/switchfavicon.png" type="image/x-icon">

</head>

<body>
	<nav>
	<a href="/" class="logo"><img class="logo" src="/static/img/SJSUSwitch.png" alt="SJSU Switch" height="116px"></a>

		<ul>
			<li><a href="/donate" >Donate</a></li>
			<li><a href="/freelance" >Freelance</a></li>
			<li><a href="/selling" >Sell</a></li>
			<li><a href="/trade" >Trade</a></li>
			<li><a href="/wishlist">Profile</a></li>
			<li><a href="/create_post" >+</a></li>
		</ul>

	</nav>
	<div id="wrapper">
	<!-- Heading Indicating which page they are on-->
	<header>
		<<h1 id="header">Selling</h1>
	</header>

	<div class="row">
	<!-- General which page they are on-->

			{% for i in range(num_of_items) %}
					<div class="column">
						<h3 class="centerHeading">{{items[i].title}}</h3>
						<table id="Engineering">
							<tr>
								<td><img src='imageit?index={{ i }}' alt='no image' style="width:200px;height:300px"></td>
							</tr>
						</table>

						<h4 style="background: #E6E6E6">{{items[i].subcat}}</h4>
						<h4 style="background: #E6E6E6">Description:</h4>
						<p style="font-size:13px;background: #E6E6E6">
							{{items[i].description}}
							<br>
							<br><strong style="font-size: 15px;background: #E6E6E6">Price:
							</strong> {{items[i].price}}
						</p>
						<h4 style="background: #E6E6E6">Form of Communication:</h4>
						<p style="font-size: 13px;background: #E6E6E6">
							{{items[i].communication}}
						</p>
					</div>
			{% endfor %}



		<div class="column">
			<h3 class="centerHeading">Introduction to Engineering</h3>
			<table id="Engineering">
			<tr>
				<td><img src=/static/img/Introduction_to_Engineering_Textbook.png alt="Introduction to Engineering Textbook" style="width:200px;height:300px"></td>
			</tr>
			</table>
			<h4 style="background: #E6E6E6">Description:</h4>
			<p style="font-size:13px;background: #E6E6E6">
				Textbook for Engineering 10
				<br>
				<br><strong style="font-size: 15px;background: #E6E6E6">Price:</strong> $50
			</p>
			<h4 style="background: #E6E6E6">Form of Communication:</h4>
			<p style="font-size: 13px;background: #E6E6E6">
				Phone Number: (123) 456-7890
				<br>Email: 123@sjsu.edu
			</p>
		</div>

		<div class="column">
			<h3 class="centerHeading">Introduction To Algorithms</h3>
			<table id="Data">
			<tr>
				<td><img src=/static/img/Introduction_To_Algorithms.png alt="Introduction to Algorithms" style="width:250px;height:300px"></td>
			</tr>
			</table>
			<h4 style="background: #E6E6E6">Description:</h4>
			<p style="font-size:13px;background: #E6E6E6">
				Textbook for CS 146
				<br>Introduction for Algorithms (3rd Edition)
				<br><strong style="font-size: 15px;background: #E6E6E6">Price:</strong> $90
			</p>
			<h4 style="background: #E6E6E6">Form of Communication:</h4>
			<p style="font-size: 13px;background: #E6E6E6">
				Phone Number: (234) 567-8910
				<br>Email: 456@sjsu.edu
			</p>
		</div>

		<div class="column">
			<h3 class="centerHeading">Public Speaking</h3>
			<table id="Public">
			<tr>
				<td><img src=/static/img/Public_speaking.png alt="Public Speaking" style="width:250px;height:300px"></td>
			</tr>
			</table>
			<h4 style="background: #E6E6E6">Description:</h4>
			<p style="font-size:13px;background: #E6E6E6">
				Textbook for COMM 20: Public Speaking
				<br>Public Speaking (7th Edition)
				<br><strong style="font-size: 15px;background: #E6E6E6">Price:</strong> $5
			</p>
			<h4 style="background: #E6E6E6">Form of Communication:</h4>
			<p style="font-size: 13px;background: #E6E6E6">
				Phone Number: (567) 891-1234
				<br>Email: 789@sjsu.edu
			</p>
		</div>
	</div>
</div>

<footer>
	<ul>
		<li><a href="/about_us">About Us</a></li>
		<li><a href="/contact_us" >Contact Us</a></li>
	</ul>
	<p>JSTR Incorporated Corporation LLC</p>
</footer>

</body>


</html>
