<!doctype html>
<html>
<head>
<meta charset="utf-8">

<title>Thank You</title>

<link href="/static/css/index.css" rel="stylesheet"/>
<link rel="shortcut icon" href="/static/img/switchfavicon.png" type="image/x-icon">
<link rel="icon" href="/static/img/switchfavicon.png" type="image/x-icon">

</head>

<body>

	<nav>
	<a href="/" class="logo"><img class="logo" src="/static/img/SJSUSwitch.png" alt="SJSU Switch" height="116px"></a> >

		<ul>
			<li><a href="/donate" >Donate</a></li>
			<li><a href="/freelance" >Freelance</a></li>
			<li><a href="/selling" >Sell</a></li>
			<li><a href="/trade">Trade</a></li>
			<li><a href="/wishlist">Profile</a></li>
			<li><a href="/create_post" >+</a></li>
		</ul>

	</nav>

  <main>
    <header>
      <h2 id="header">Post Submited</h2>
    </header>

    <div id="ty">
      <h3>Thank you for your submission! <br>
        Go see your post in the designated category!</h3>

    </div>


  </main>

	<footer>
		<ul>
			<li><a href="/about_us"> About Us</a></li>
			<li><a href="/contact_us">Contact Us</a></li>
		</ul>
		<p>JSTR Incorporated Corporation LLC</p>
	</footer>

</body>
</html>
